<div class="container-fluid">
  <H2>{{title}}</H2>
  <button (click)="fetchPatientsStatesAndDrugs()" type="button" class="btn btn-primary">Get Patients and Drugs</button><br><br>
  <p id="initial">Inital State: <span *ngFor="let state of patientsRegister | keyvalue">{{state.key}}:{{state.value}} </span></p>
  <p id="input">Applied cure: <span *ngFor="let drug of drugs">|{{drug}}</span></p>
  <br>
  <p>Danger zone</p>
  <button (click)="applyQuarantine()" type="button" class="btn btn-danger">Administer the drugs to the patients</button><br><br>
  <div id="result">
    <p style="color:RED">{{error}}</p>

    <p id="output">Report State: <span *ngFor="let state of report | keyvalue">{{state.key}}:{{state.value}} </span></p>
  </div>
  <p>LAST 10 RESULT:</p>
  <span>-----------------------------</span>
  <div>
    <p *ngFor="let simulation of simulationCacheService.simulations.reverse()">
      Initial state: <span *ngFor="let state of simulation.initial | keyvalue">{{state.key}}:{{state.value}} </span><br>
      Applied cure: <span *ngFor="let drug of simulation.drugs">|{{drug}}</span><br>
      Report state: <span *ngFor="let state of simulation.states | keyvalue">{{state.key}}:{{state.value}} </span><br>
      -----------------------------
    </p><br>
  </div>
</div>
